.bottom-margin-1
  = "#{Ecm::Blog::Post.human_attribute_name(:creator)}: #{administrador_helper(self).resource_label_for(form.object.creator)}"

= form.input :title
= form.input :body
= form.input :published, as: :boolean
= form.input :tag_list
= form.input :assets, as: :file, input_html: { multiple: true }