= table.row :title
= table.row :body
= table.row(:tags) do |resource|
  - tag_labels_for(resource)
= table.association :creator, label_method: ->(r) { administrador_helper(self).resource_label_for(r) }
= table.association :updater, label_method: ->(r) { administrador_helper(self).resource_label_for(r) }
= table.timestamp :published_at, format: :short
= table.timestamps format: :short